<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/SAMSUNG/PetShop_Test">
    <classes>
        <class name="PetShopRestApi"/>
        <class name="Negative_Senarios"/>
        <class name="PetSerialization"/>
        <class name="Category"/>
        <class name="Tags"/>
    </classes>
    </test>
</suite>

